<div class="container"  >
  <div routerLink="/home" class="container-fluid d-flex justify-content-center align-items-center" style="height:100vh; overflow:hidden; cursor: pointer;">

    <!-- Inner row, half the width and height, centered, blue border -->
    <div class="row text-center d-flex align-items-center" style="overflow:hidden; width:30vw; height:50vh;">
      <mat-card style="height: 250px; font-size: 30px; background: #dcdcdc">
            <p style="margin-top: 40px">Total Energy Cost</p>
          <p style="margin-top: 50px; font-size: 50px">$5000<sub>Kwh</sub></p>
          <p style="margin-top: 40px">($4 per Kwh)</p>
        </mat-card>
      </div>
    </div>
</div>


